fuse-archetypes/camel-workshop/src/main/resources/archetype-resources/routing/src/main/resources/META-INF/wsdl/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="findBusService"
                  targetNamespace="http://service.fusesource.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://service.fusesource.com">
    <wsdl:types>
        <xs:schema targetNamespace="http://service.fusesource.com" version="1.0">
            <xs:element name="documentId" type="tns:documentId"/>
            <xs:complexType name="documentId">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="documentResponse" type="tns:documentResponse"/>
            <xs:complexType name="documentResponse" >
                <xs:sequence>
                    <xs:element type="xs:string" name="incidentId"/>
                    <xs:element type="xs:string" name="incidentDate"/>
                    <xs:element type="xs:string" name="givenName"/>
                    <xs:element type="xs:string" name="familyName"/>
                    <xs:element type="xs:string" name="summary"/>
                    <xs:element type="xs:string" name="details"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="phone"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="documentId">
        <wsdl:part name="in" element="tns:documentId">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="documentResponse">
        <wsdl:part name="out" element="tns:documentResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="documents">
        <wsdl:operation name="getDocumentById">
            <wsdl:input name="documentId" message="tns:documentId">
            </wsdl:input>
            <wsdl:output name="documentResponse" message="tns:documentResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="documentsSoapBinding" type="tns:documents">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDocumentById">
            <soap:operation soapAction="http://service.fusesource.com/getDocumentById" style="document"/>
            <wsdl:input name="documentId">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="documentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="documentsService">
        <wsdl:port name="documentsPort" binding="tns:documentsSoapBinding">
            <soap:address location="http://localhost:9090/documentPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
